DB_NAME=database
DB_USER=user
DB_PASS=pass
DB_PORT=3306
DB_HOST=mariadb

SECRET_KEY=key

# Key for chat encryption (32-Byte/256-bit Size).
# SUPER VERY ULTRA SIGMA NOTE: 
# DO NOT LOSE THIS OR U R GONNA START FROM THE BEGINING!!!!
ENCRYPTION_KEY=idkwhattoputinhere,justsecureit!

APP_PORT=3000